.http-method-selector {

  .methods-list {
    margin-top: 1rem;
    position: absolute;
    z-index: 10;
    border: 0.1rem solid #51545E;
    background: #51545E;
    border-radius: 0.5rem;
    padding: 0.5rem 0;

    &:before {
      content: " ";
      position: absolute;
      top: -0.7rem;
      left: 0rem;
      border-left: solid 0.7rem transparent;
      border-right: solid 0.7rem transparent;
      border-bottom: solid 0.7rem #51545E;
    }

    button {
      width: 5rem;
      padding: 0.5rem 0;
      margin: 0;
      font-size: 0.8rem;
      display: block;
      border: none;
      color: white;
      background: #51545E;
      cursor: pointer;

      &.selected, &:hover {
        background: rgb(119, 119, 124);
      }
    }
  }
}
