<div class="route-details" *ngIf="route">
  <div class="details">
    <div class="head">
      <div class="http-method">
        <app-method-select
          (onMethodSelect)="route.httpMethod = $event"
          [(selectedMethod)]="route.httpMethod">
        </app-method-select>
      </div>
      <div class="http-path">
        /<input type="text" [formControl]="endpoint">
      </div>
    </div>
    <p>Response</p>
    <ace
      class="response"
      fxFlex="auto"
      [config]="config"
      [(value)]="route.response"
    ></ace>
  </div>
  <div class="actions">
    <button class="save" title="Save" (click)="onSave()"></button>
    <button class="delete" title="Remove"></button>
  </div>
</div>
