<div class="route-details">
  <div class="details">
    <div class="head">
      <div class="http-method">
        <span *ngIf="route">{{ route.httpMethod | uppercase }}</span>
      </div>
      <div class="http-path">
        <span *ngIf="route">{{ route.endpoint }}</span>
      </div>
    </div>
    <p>Response</p>
    <ace *ngIf="route" class="response" fxFlex="auto" [config]="config" [(value)]="route.response">
    </ace>
  </div>
  <div class="actions">
    <button class="save" title="Save"></button>
    <button class="delete" title="Remove"></button>
  </div>
</div>
