.mocks-list {
  padding-left: 1rem;

  .mocks-list-item {

    &.active {

      a::after {
        opacity: 1;
        transform: translateX(0.75rem) rotate(45deg);
      }
    }

    a {
      position: relative;
      color: #A9ACBC;
      display: block;
      padding: 1.2rem 0.2rem 1.2rem 1.5rem;
      text-decoration: none;
      transition: background-color 0.5s, color 0.5s;
      border-bottom: 0.1rem solid #353842;

      &::after {
        opacity: 0;
        content: " ";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 2rem;
        height: 2rem;
        margin: auto;
        border-radius: 0.5rem;
        background-color: #2A2D36;
        background-image: url('/assets/icons/arrow-up-right.svg');
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: center;
        transform: translateX(0rem) rotate(45deg);
        transition: opacity 0.5s, transform 0.5s;
      }

      span {
        font-weight: bold;
        display: inline-block;
        padding: 0.2rem;

        &.get {
          color: #A6C29B;
        }

        &.post {
          color: #A9AF85;
        }

        &.delete {
          color: #AE8266;
        }

        &.put {
          color: #A9AF85;
        }
      }
    }
  }

  .actions {
    position: fixed;
    bottom: 2rem;
    width: 23%;
    text-align: center;

    button {
      width: 3rem;
      height: 3rem;
      margin: 0.2rem;
      background-color: #2F313C;
      background-size: 1.5rem;
      background-repeat: no-repeat;
      background-position: center center;
      border: 0.1rem solid #2F313C;
      border-radius: 0.5rem;
      transition: background-color linear 0.3s;
      cursor: pointer;

      &:hover {
        background-color: rgb(65, 68, 83);
      }

      &.create {
        background-image: url('/assets/icons/add.svg');
      }

      &.refresh {
        background-image: url('/assets/icons/refresh.svg');
      }
    }
  }
}
