<form #mockForm="ngForm" (ngSubmit)="onSave(mockForm.value)">
  <div class="route-details" *ngIf="selectedMock">
    <div class="details">
      <div class="head">
        <div class="http-method">
          <app-method-select
            (onMethodSelect)="selectedMock.httpMethod = $event"
            [(selectedMethod)]="selectedMock.httpMethod">
          </app-method-select>
        </div>
        <div class="http-path">
          /<input
            type="text"
            name="endpoint"
            [(ngModel)]="selectedMock.endpoint">
        </div>
      </div>
      <p>Response</p>
      <ace
        #editor
        class="response"
        fxFlex="auto"
        [(value)]="selectedMock.response"
        [config]="getResponseEditorConfig()">
      </ace>
    </div>
    <div class="actions">
      <button type="submit" class="save" title="Save"></button>
      <button class="delete" (click)="onDelete()" title="Remove"></button>
    </div>
  </div>
</form>
